.marquee {
    
    position: relative;
    animation: scrollUp 60s linear infinite ;
}

@keyframes scrollUp {
    to {
        transform: translateY(-100%);
    }
}

.slider-wrapper {
    margin-top: 1em;
    height: calc(100% - 1em);
    overflow: hidden;
}

.marquee-2 {
    animation-duration: 30s;
    margin-block-start: 0;
}

.hide {
    display: none;
}