.App-Desktop, .App-Mobile {
	background: hsla(126, 47%, 49%, 1);
	background: linear-gradient(0deg, hsla(126, 47%, 49%, 1) 0%, hsla(126, 47%, 24%, 1) 100%);    
	min-height: 100vh;
	display: grid;
	grid-template-areas: 
		"header-changes header-system"
		"content-changes content-system";
	grid-template-rows: 5% 95%;

}

.App-Desktop {
	grid-template-areas:
		"header header"
		"title-changes title-system"
		"content-changes content-system";
	grid-template-rows: 5% 5% 90%;
}

ul {
	list-style-type: none;
    margin-block-start: 1em;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 1em;
	direction: rtl;
}

.title, .content, .header {
	height: calc(100% - 2px);
	width: calc(100% - 2px);
}

.title-text {
	font-size: 2em;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;  
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-bottom: 2px solid black;
	grid-area: header;
}

.header-date {
	margin-left: 2%;
}

.header-time {
	margin-right: 2%;
}

.content {
	border-top: 2px solid black;
}

.title.changes {
	border-right: 2px solid black;
	grid-area: title-changes;
}	

.title.system {
	border-left: 2px solid black;
	grid-area: title-system;
}

.content.changes {
	border-right: 2px solid black;
	grid-area: content-changes;
}

.content.system {
	border-left: 2px solid black;
	grid-area: content-system;
}