html, body, #root, .App-Desktop, .App-Mobile {
	height: 100%;
}

.App-Desktop, .App-Mobile {
	background: hsla(126, 47%, 49%, 1);
	background: linear-gradient(0deg, hsla(126, 47%, 49%, 1) 0%, hsla(126, 47%, 24%, 1) 100%);    
	min-height: 100vh;
	display: grid;
	grid-template-areas: 
		"title"
		"content"
		"footer";
	grid-template-rows: 5% 90% 5%;
}

.App-Desktop {
	grid-template-areas:
		"header header"
		"title-changes title-system"
		"content-changes content-system";
	grid-template-rows: 5% 5% 90%;
	grid-template-columns: 50% 50%;
}

ul {
	list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 1em;
	direction: rtl;
}

li {
	margin: calc(1px + 1em);
	color: white;
    font-size: 28pt;
    font-weight: 100;
}

.title, .content, .header{
	height: calc(100% - 2px);
	width: calc(100% - 2px);
}

.title-text {
	font-size: 1.5em;
}

.title {
	display: flex;
	justify-content: center;
	align-items: center;  
	border-bottom: 2px solid black;
	border-top: 2px solid black;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-area: header;
}

.footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-area: footer;
}

.header-date {
	margin-left: 2%;
}

.footer-button {
	border: 2px solid black;
	border-bottom: 0px;
	text-align: center;
	width: 50%;
}

.footer-button .title-text {
	margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.header-time {
	margin-right: 2%;
}

.header-logo {
	height: 100%;
}

.header-logo>div {
	height: 100%;
}

.header-logo>div>img {
	height: 100%;
	max-width: 100%;
}

.content {
	border-top: 2px solid black;
}

.title.changes {
	border-right: 2px solid black;
	grid-area: title-changes;
}	

.title.system {
	border-left: 2px solid black;
	grid-area: title-system;
}

.content.changes {
	border-right: 2px solid black;
	grid-area: content-changes;
}

.content.system {
	border-left: 2px solid black;
	grid-area: content-system;
}